# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Flask
instance/
.webassets-cache

# Base de dades
*.db-journal
*.db-wal
*.db-shm

# Editors
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
*.log

# Entorn virtual
venv/
ENV/

# Fitxers temporals
*.tmp
*.bak

# Podman/Docker (per quan configurem contenidors)
*.tar